/* clear any setting */

* {
    margin: 0;
    padding: 0;
}
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* navBar */

.navBar {
    background-color: #333;
    overflow: hidden;
}

.navBar right-side {
    float: right;
}


.navBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navBar a:hover {
    background-color: #ddd;
    color: black;
}


.products {
	height: 30rem;
    width: 20rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 4px; 
    overflow: hidden; 
    margin-bottom: 2rem;
    flex-direction: row;
    background-color: white;
}

.products img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
} 

.item-image {
	width:200px;
	height:200px;
}

.item-info {
	display: flex;
	flex-direction: column;
	 justify-content: space-around; 
   /*  flex-wrap: wrap; */
    align-items: flex-start;
    align-content: space-between;
}

.wrapper {
	margin: auto;
	display: inline-flex;
	padding: 15px;
}

li {
	list-style:none;
}


