.new-user__infos {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-user__info label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-user__info input {
  font: inherit;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid green;
  width: 20rem;
  max-width: 200px;
}

.new-user__add {
  text-align: right;
}
